<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin list</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <!--template admin -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="style-for-admin.css" />
    <!-- bootstrap icon don't deleted -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Responsive Dashboard Design #2 | AsmrProg</title>
</head>

<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <i class="bx bx-code-alt"></i>
            <div class="logo-name"><span>Ad</span>min</div>
        </a>
        <ul class="side-menu">
            <li class="active">
                <a href="#home"><i class="bx bxs-dashboard"></i>Home</a>
            </li>
            <li>
                <a href="#menu"><i class="bx bx-bi bi-cup-straw"></i>Menu-List</a>
            </li>
            <li>
                <a href="#mat"><i class="bx bx-store-alt"></i>Material-List</a>
            </li>
            <li>
                <a href="#invoice"><i class="bx bx-bi bi-receipt-cutoff"></i>Invoice</a>
            </li>
            <li>
                <a href="#pay"><i class="bx bx-bi bi-credit-card"></i>Payment</a>
            </li>
            <li>
                <a href="#Cart"><i class="bx bx-bi bi-basket"></i>InvoiceItem</a>
            </li>
            <li>
                <a href="#"><i class="bx bx-cog"></i>Settings</a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="/logout" class="logout">
                    <i class="bx bx-log-out-circle"></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content" id="home">
        <!-- Navbar -->
        <nav>
            <i class="bx bx-menu"></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search..." />
                    <button class="search-btn" type="submit">
                        <i class="bx bx-search"></i>
                    </button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden />
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class="bx bx-bell"></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <img src="images/logo.png" />
            </a>
        </nav>

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li><a href="#"> Analytics </a></li>
                        /
                        <li><a href="#" class="active">Shop</a></li>
                    </ul>
                </div>
                <a href="#" class="report">
                    <i class="bx bx-cloud-download"></i>
                    <span>Download CSV</span>
                </a>
            </div>

            <!-- Insights -->
            <ul class="insights">
                <li>
                    <i class="bx bx-calendar-check"></i>
                    <span class="info">
                        <h3>1,074</h3>
                        <p>Paid Order</p>
                    </span>
                </li>
                <li>
                    <i class="bx bx-show-alt"></i>
                    <span class="info">
                        <h3>3,944</h3>
                        <p>Site Visit</p>
                    </span>
                </li>
                <li>
                    <i class="bx bx-line-chart"></i>
                    <span class="info">
                        <h3>14,721</h3>
                        <p>Searches</p>
                    </span>
                </li>
                <li>
                    <i class="bx bx-dollar-circle"></i>
                    <span class="info">
                        <h3>$6,742</h3>
                        <p>Total Sales</p>
                    </span>
                </li>
            </ul>
            <!-- End of Insights -->

            <!-- Menu List -->
            <div class="Menu-List" id="menu">
                <div class="bottom-data">
                    <div class="orders">
                        <div class="header">
                            <i class="bx bx-bi bi-cup-straw"></i>
                            <h3>Menu List</h3>
                            <i class="bx bx-filter"></i>
                            <i class="bx bx-search"></i>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>name</th>
                                    <th>type</th>
                                    <th>Price</th>
                                    <th>stock</th>
                                    <th>price</th>
                                    <th>delete</th>
                                    <th>update</th>
                                </tr>
                            </thead>
                            <tbody>
                                <a href="/add-dish/" class="btn btn-primary mt-3 mb-3">Add New Dishes</a>
                                <tr>
                                    <td>
                                <tr th:each="Dishes : ${dishes}">
                                    <td th:text="${Dishes.id}"></td>
                                    <td th:text="${Dishes.dish_name}"></td>
                                    <td th:text="${Dishes.dishtype}"></td>
                                    <td th:text="${Dishes.dish_picture}"></td>
                                    <td th:text="${Dishes.dish_stock}"></td>
                                    <td th:text="${Dishes.dish_price}"></td>
                                    <td></td>
                                    <td>
                                        <a th:href="@{/delete-dish/{id}(id=${Dishes.id})}"
                                            class="btn btn-primary mt-3 mb-3">Delete</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/update-dish/{id}(id=${Dishes.id})}"
                                            class="btn btn-primary mt-3 mb-3">update</a>
                                    </td>
                                </tr>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="/delete-dish" class="btn btn-primary mt-3 mb-3">Delete All</a>
                    </div>
                </div>
            </div>

            <!-- invoice List -->
            <div class="bottom-data" id="invoice">
                <div class="orders">
                    <div class="header">
                        <i class="bx bx-bi bi-receipt-cutoff"></i>
                        <h3>Invoice List</h3>
                        <i class="bx bx-filter"></i>
                        <i class="bx bx-search"></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th>note</th>
                                <th>user ID</th>
                                <th>payment ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                            <tr th:each="Invoice : ${invoice}">
                                <td th:text="${Invoice.id}"></td>
                                <td th:text="${Invoice.invoice_date}"></td>
                                <td th:text="${Invoice.invoice_note}"></td>
                                <td th:text="${Invoice.user.id}"></td>
                                <td th:text="${Invoice.payment.id}"></td>
                            </tr>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- payment List -->
            <div class="bottom-data" id="pay">
                <div class="orders">
                    <div class="header">
                        <i class="bx bx-bi bi-credit-card"></i>
                        <h3>Payment List</h3>
                        <i class="bx bx-filter"></i>
                        <i class="bx bx-search"></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                            <tr th:each="Payment : ${payment}">
                                <td th:text="${Payment.id}"></td>
                                <td th:text="${Payment.pay_Date}"></td>
                                <td th:text="${Payment.pay_total}"></td>
                            </tr>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Mat List -->
            <div class="bottom-data" id="mat">
                <div class="orders">
                    <div class="header">
                        <i class="bx bx-store-alt"></i>
                        <h3>Material List</h3>
                        <i class="bx bx-filter"></i>
                        <i class="bx bx-search"></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>name</th>
                                <th>amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <a href="/add-mat/" class="btn btn-primary mt-3 mb-3">Add New Material</a>
                            <tr>
                                <td>
                            <tr th:each="Material : ${materials}">
                                <td th:text="${Material.id}"></td>
                                <td th:text="${Material.mat_name}"></td>
                                <td th:text="${Material.mat_amount}"></td>
                                <td>
                                    <a th:href="@{/delete-mat/{id}(id=${Material.id})}"
                                        class="btn btn-primary mt-3 mb-3">Delete</a>
                                </td>
                                <td>
                                    <a th:href="@{/update-mat/{id}(id=${Material.id})}"
                                        class="btn btn-primary mt-3 mb-3">update</a>
                                </td>
                            </tr>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="/delete-mat" class="btn btn-primary mt-3 mb-3">Delete All</a>
                </div>
            </div>

            <!-- Invoice item List -->
            <div class="bottom-data" id="Cart">
                <div class="orders">
                    <div class="header">
                        <i class="bx bx-bi bi-basket"></i>
                        <h3>InvoiceItem List</h3>
                        <i class="bx bx-filter"></i>
                        <i class="bx bx-search"></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Invoice ID</th>
                                <th>User</th>
                                <th>Invoice Note</th>
                                <th>Dishes</th>
                                <th>DishAmount</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="InvoiceItem : ${invoiceitem}">
                                <td th:text="${InvoiceItem.invoice.id}"></td>
                                <td th:text="${InvoiceItem.invoice.user.userName}"></td>
                                <td th:text="${InvoiceItem.invoice.invoice_note}"></td>
                                <td th:text="${InvoiceItem.dishes.dish_name}"></td>
                                <td th:text="${InvoiceItem.dishAmount}"></td>
                                <td th:text="${InvoiceItem.itemNote}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
    <!--java script here -->
    <!-- Add Bootstrap JS and Popper.js for Bootstrap functionality -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="index-for-admin.js"></script>
</body>

</html>