<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></div>
    <td>
        <a th:href="@{/user}" class="btn btn-primary mt-3 mb-3">Back</a>
    </td>
</body>