<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe List</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
<!--show dishes list-->
    <div class="container" id="Menu">
        <h1 class="mt-5">Menu List</h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <td>MenuType</td>
                <th>Picture</th>
                <th>Stock</th>
                <th>Price</th>
                <th>select</th>
            </tr>
            <!--show list in sql and new add list-->
            <tr th:each="Dishes : ${dishes}">
                <td th:text="${Dishes.id}"></td>
                <td th:text="${Dishes.dish_name}"></td>
                <td th:text="${Dishes.dish_type}"></td>
                <td th:text="${Dishes.dish_picture}"></td>
                <td th:text="${Dishes.dish_stock}"></td>
                <td th:text="${Dishes.dish_price}"></td>
                <td>
                    <form method="get" action="/add-to-cart/{id}">
                        <label for="quantity">Quantity:</label>
                        <input type="number" id="quantity" name="quantity" min="1" max="10" required>
                        <input type="submit" value="Add to Cart">
                    </form>

                </td>
                <td onclick="callAlert();">
                    <a th:href="@{/add-to-cart/{id}(id=${Dishes.id})}" class="btn btn-primary mt-3 mb-3">add cart</a>
                </td>
            </tr>
        </table>
        <table>
            <!-- <h1 class="mt-5">Cart List</h1>
            <tr th:each="InvoiceItem : ${invoiceitem}">
                <td th:text="${InvoiceItem.Dishes.dish_name}"></td>
                <h1>Form</h1>-->
            <form action="#" th:action="@{/add-to-cart}" modelAttributes="newinvoiceitem" method="post">
                <form:input path="dish_name" value="1" type="text" />
            </form>
        </table>
    </div>

<!--show InvoiceItem list-->
        <div class="container" id="Cart">
        <h1 class="mt-5">Cart List</h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <td>dish_amount</td>
                <th>dishes</th>
                <th>invoice ID</th>
            </tr>
            <!--show list in sql and new add list-->
            <tr th:each="InvoiceItem : ${invoiceitem}">
                <td th:text="${InvoiceItem.id}"></td>
                <td th:text="${InvoiceItem.dish_amount}"></td>
                <td th:text="${InvoiceItem.dishes.dish_name}"></td>
                <td th:text="${InvoiceItem.Invoice}"></td>
                <td>
                    <a th:href="@{/delete-cart/{id}(id=${InvoiceItem.id})}" class="btn btn-primary mt-3 mb-3">Delete</a>
                </td>
            </tr>
        </table>
        <a href="/confirm_cart" class="btn btn-primary mt-3 mb-3">Confirm Cart</a>
        
    </div>







    <!-- Add Bootstrap JS and Popper.js for Bootstrap functionality -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--java script here -->
    <script src="app.js"></script>
    <script type="text/javascript">
        function callAlert()
        {
            swal("Good job!", "You clicked the button!", "success");
        }
    </script>
</body>